.input1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: absolute;
  top: 10%;
  left: 0%;
}
.head1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
position: absolute;
  margin: 0;
  top: 3%;
  left: 1%;
  color:cornflowerblue;
  font-size: calc(23px);
}
.tryout {
  position: absolute;
  margin: 0;
  top: 18%;
  left: 2%;
}
.TextHolder {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  margin: 10;
  position: absolute;
  top: 20%;
  left: 10%;
  min-height: 15vh;
  min-width: 36vh;
  max-width:fit-content;
  display:grid;
  align-items: left;
  justify-content: center;
  color: black;
}